[project]
	description = AngularJS 1.2+ native directives for Bootstrap 3.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jonathan Baird (jtbairdsr)
[access "refs/for/refs/*"]
	read = group user/Jonathan Baird (jtbairdsr)
	push = group user/Jonathan Baird (jtbairdsr)
	label-Code-Review = -2..+2 group user/Jonathan Baird (jtbairdsr)
	label-Verified = -1..+1 group user/Jonathan Baird (jtbairdsr)
	rebase = group user/Jonathan Baird (jtbairdsr)
	removeReviewer = group user/Jonathan Baird (jtbairdsr)
	submit = group user/Jonathan Baird (jtbairdsr)
[access "refs/heads/*"]
	read = group user/Jonathan Baird (jtbairdsr)
	create = group user/Jonathan Baird (jtbairdsr)
	push = +force group user/Jonathan Baird (jtbairdsr)
	pushMerge = group user/Jonathan Baird (jtbairdsr)
[access "refs/tags/*"]
	push = +force group user/Jonathan Baird (jtbairdsr)
	pushTag = group user/Jonathan Baird (jtbairdsr)
	pushSignedTag = group user/Jonathan Baird (jtbairdsr)
